*, *::before, *::after {
    box-sizing: border-box;
  }
  
  :root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%);
  }
  
  body.correct {
    --hue: var(--hue-correct);
  }
  
  body.wrong {
    --hue: var(--hue-wrong);
  }
  
  .container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
  }
  
  .btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
  }
  
  .btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
  }
  
  .btn:hover {
    border-color: black;
  }
  
  .btn.correct {
    --hue: var(--hue-correct);
    color: black;
  }
  
  .btn.wrong {
    --hue: var(--hue-wrong);
  }
  
  .start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
  }
  
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hide {
    display: none;
  }

  /* Background Styles Only */

html {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-area{
    position: absolute;
    top: 40px;
    color: black;
    font-size: 60px;
    font-weight: bold;
}

.banner {
  position: absolute;
  top: 0px;

}

.logo{
  position: absolute;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  text-align: center;
  height: 50px;
  color: #FFFFFF;
}


.score-area{
  position: absolute;
  bottom: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-bottom: 10px;
  margin-left: 10px;
  color: white;
  background-color: rgb(18, 139, 143);
  font-size: 20px;
  font-weight: bold;
  width: 500px;
  padding: 10px 0;
  border-radius: 10px;
}


.side-links {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.side-links-top {
  position: absolute;
  top: 15px;
  right: 15px;
}

.side-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-bottom: 10px;
  color: white;
  width: 180px;
  padding: 10px 0;
  border-radius: 10px;
}

.side-link-learncode {
  background-color: red;
}

.side-link-club {
  background-color: #1DA1F2;
}

.side-link-rps {
  background-color: #1d4903;
}

.side-link-gamingnews {
  background-color: rgb(139, 59, 231);
}

.side-link-text {
  margin-left: 10px;
  font-size: 18px;
}

/* Hover Button */
.button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;

}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}



@media screen and (max-width: 1200px) {

  .flex-header {
    position: absolute;
    top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 10px;
    margin-left: 10px;
    color: white;
    background-color: rgb(4, 90, 40);
    font-size: 20px;
    font-weight:200;
    width: 250px;
    padding: 5px 0;
    border-radius: 10px;
  }

  .logo {
      width: 100%;
      padding: 0;
  }

  .banner {
    width: 100%;
    padding: 0;
}
  .side-link-text {
    margin-left: 10px;
    font-size: 15px;

}

.side-links {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.side-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-bottom: 10px;
  color: white;
  width: 160px;
  padding: 5px 0;
  border-radius: 10px;
}

.score-area{
  position: absolute;
  bottom: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-bottom: 10px;
  margin-left: 10px;
  color: white;
  background-color: rgb(18, 139, 143);
  font-size: 12px;
  font-weight:400;
  width: 270px;
  padding: 5px 0;
  border-radius: 10px;
}

}
